* { margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 2px;
  line-height: 1.75em;
  background-color: black;
  overflow-x: hidden;
}

li { display: inline-block;}

ul li a { color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: normal;
}

.navbar {
  background-color: #11ffee00 !important;
  padding-bottom: 20px;
}

.menu-nav li {padding: 9px 12px;}

.header-video {
  padding-bottom: 20px;
}

.icon {
  font-size: 1.5rem;
  color: white;
  display: flex;
  text-align: justify;
  }

p, h2 {text-align: center;
  color: white
}

h2 {margin: 15px;
  font-size: 1.5rem;
}

p {text-align: justify;
  margin: 0px 50px;
  padding: 10px 90px;
}

label {color: white}

textarea, input { color: black;
  padding: 5.25px 10.25px;
}

.redes-footer {
  display: flex;
  justify-content: center;
  align-content: center;
  width: auto;
  padding-top: 50px;
}

.redes-footer a {padding: 10px 10px}

.container {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-gap: 5px;
  align-items: center;
}

.item {
  border-radius: 5px;
  padding: 5px;
}

.item img {
  max-width: 100%
}

.two {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 3;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 1;
  grid-row: 3;
}
.six {
  grid-column: 2;
  grid-row: 3 / 4;
}
